<p>
  Register User
</p>

<form (ngSubmit)="addUser(formUser)" #formUser="ngForm" ngNativeValidate>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" ngModel class="form-control" id="form-name" placeholder="Nombre" required>
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" name="surname" ngModel class="form-control" id="form-surname" placeholder="Apellido" required>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" name="age" ngModel class="form-control" id="form-age" placeholder="Edad" required>
    </div>
    <div class="form-group">
      <label for="email">email</label>
      <input type="text" name="email" ngModel class="form-control" id="form-email" placeholder="Email"
      pattern= "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      #email="ngModel" required>
      </div>
      <div *ngIf="email.errors?.pattern">
         <h2> No es un email valido</h2>
      </div>
    <div class="form-group">
      <label for="password">password</label>
      <input ngModel  name="password" class="form-control" id="form-password" placeholder="Password" type="password" required>
    </div>
    <button type="submit"  class="btn btn-success">Submit</button>
  </form>
