
<p>
  LOGIN
</p>


<form (ngSubmit)="guardar(login)" novalidate="" #login="ngForm">
  <div class="container">
      <div class="row">
            <div class="col">
              <div class="form-login">
                <h4>Welcome back.</h4>
                <input type="text" class="form-control  input-sm chat-input" placeholder="email"
                name="email"
                [ngModel] = "usuario.email"
                pattern= "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                #email="ngModel">
                <div *ngIf="email.errors?.pattern">
                    No es un email valido
                </div>
                
                <input type="password"  class="form-control input-sm chat-input" placeholder="password"
                    name="password"
                    [ngModel] = "usuario.password"
                    #password="ngModel">
                <div class="wrapper">
                    <span class="group-btn">     
                        <button class="btn btn-primary" type="submit">login<i class="fa fa-sign-in"></i></button>
                        <a class="nav-link float-right" [routerLink]='["/register"]'>register</a>
                    </span>
                </div>
              </div>
            </div>
      </div>
  </div>
  </form>




  


