<h1>Favorite Songs</h1>

<input #buscador (keyup)="search(buscador.value)"  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
<div class= "row">
  <div *ngFor = "let x of homeService.songsDisplay"> 
    <div class = "col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{homeService.urlBase+ 'song/get-image/'+x._id}}" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title">{{x.name}}</h1>
          <p class="card-text">Artista: {{x.artist}}</p>
          <p class="card-text">Disco: {{x.disk}}</p>
          <p class="card-text">Género: {{x.gender}}</p>
          <a (click)="deleteSongFav([x._id])" class="btn btn-primary">Delete</a>
        </div>
        <audio controls>
          <source src="{{homeService.urlBase+ 'song/get-song/'+x._id}}" type="audio/mpeg" />
          </audio>
      </div>
    </div>
  </div>
</div>