<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]='["home"]'>
      <img src="../../../assets/img/music.jpg" alt="heroes">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["home"]'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["login"]' >Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["favoriteSong"]'>Favorite Songs</a>
      </li>
      <li class="nav-item">
          <a (click)="logout()" class="nav-link" [routerLink]='["home"]'>Logout</a>
        </li>
    </ul>
  </div>
</nav>