<p>

</p>

<form (ngSubmit)="addSong(formSong)" #formSong="ngForm" ngNativeValidate>
    <div class="form-group">
      <!-- <label for="name">Nombre</label> -->
      <input type="text" name="name" ngModel class="form-control" id="form-name" placeholder="Nombre de la Canción" required>
    </div>
    <div class="form-group">
      <!-- <label for="artist">Artista</label> -->
      <input type="text" ngModel  name="artist" class="form-control" id="form-artist" placeholder="Artista" type="text" required>
    </div>
    <div class="form-group">
      <!-- <label for="disk">Disco</label> -->
      <input type="text" ngModel  name="disk" class="form-control" id="form-disk" placeholder="Disco" type="text" required>
    </div>
    <div class="form-group">
      <!-- <label for="gender">Genero</label> -->
      <input type="text" ngModel  name="gender" class="form-control" id="form-gender" placeholder="Genero" type="text" required>
    </div>
    <div class="form-group">
      <label for="image">Imagen de la canción</label>
      <input  type="file" name="image" ngModel class="form-control-file" id="form-image" (change)="handleFileInputImage($event.target.files)">
    </div>
    <div class="form-group">
      <label for="song">Canción</label>
      <input  type="file" name="song" ngModel class="form-control-file" id="form-song" (change)="handleFileInputSong($event.target.files)">
    </div>
    <button type="submit"  class="btn btn-success">Agregar</button>
  </form>
